$font-page: 'Roboto Condensed', sans-serif;
$color-primary: #000;
$color-secondary: #fff;

/*Base*/
body {
	background: $color-primary;
	font-family: $font-page;
}

header {
	background-color: $color-primary;
	color: $color-secondary;
	padding: 24px 0;
}

article {
	margin: auto;
	max-width: 850px;
	width: 80%;
}

button {
	background: transparent;
	cursor: pointer;
	height: 36px;
	padding: 0;
	text-transform: uppercase;
	letter-spacing: 1px;
	width: 100%;

	&:focus {
		outline: 0;
	} 
}

/*DEFAULT*/
.cont-login-page {
	background-color: $color-primary;
	background-image: url('../images/bg-tusdatos.jpg');
	background-position: center 0px;
	background-repeat: no-repeat;
	background-size: 150%;
	color: $color-secondary;
	height: 100vh;
	padding-top: 10%;
	text-align: center;

	.title-bold {
		font-size: 2rem;
		font-weight: bold;
		text-transform: uppercase;
		margin: 0;
	}

	.title-light {
		font-size: 1.8rem;
		font-weight: 300;
		line-height: 1rem;
		margin-top: 0;
		text-transform: uppercase;
	}

}

.cont-form-login {
	margin-top: 46%;
}

.group-form {
	height: 54px;
	margin-bottom: 8px;
	position: relative;
	width: 100%;

	.label-default-w {
		color: rgba($color: #fff, $alpha: 0.5);
		font-size: 1rem;
		font-weight: 300;
		left: 20px;
		position: absolute;
		top: 44%;
		transition: all 0.2s ease-in; 
	}

	.input-default-w {
		background: transparent;
		border-radius: 25px;
		bottom: 0;
		color: $color-secondary;
		height: 36px;
		left: 0;
		padding-left: 20px;
		position: absolute;
		width: 100%;

		&:focus,
		&:valid {
			outline: 0;
			&+label {
				font-size: 72%;
				top: 0;
			}
		}
		&:active {
			&+label {
				top: 0;
			}
		}
	}

	&:last-child {
		margin-bottom: 0;
	}
}

.group-form-remind {
	[type="radio"] {
		&:checked {
			position: absolute;
			left: -9999px;
			&+label {
				font-size: 0.8rem;
				font-weight: 300;
				position: relative;
				padding-left: 20px;
				cursor: pointer;
				line-height: 20px;
				display: inline-block;
				color: rgba($color: #fff, $alpha: 0.5);
				&:before {
					content: '';
					position: absolute;
					left: 0;
					top: 2px;
					width: 14px;
					height: 14px;
					border: 1px solid $color-secondary;
					border-radius: 100%;
					background: transparent;
				}
				&:after {
					content: '';
					width: 10px;
					height: 10px;
					background: $color-secondary;
					position: absolute;
					top: 4px;
					left: 2px;
					border-radius: 100%;
					-webkit-transition: all 0.2s ease;
					transition: all 0.2s ease;
					opacity: 1;
					-webkit-transform: scale(1);
					transform: scale(1);
				}
			}
		}
		&:not(:checked) {
			left: -9999px;
			position: absolute;
			&+label {
				color: rgba($color: #fff, $alpha: 0.5);
				cursor: pointer;
				display: inline-block;
				font-size: 0.8rem;
				font-weight: 300;
				line-height: 20px;
				position: relative;
				padding-left: 20px;
				&:before {
					background: transparent;
					border: 1px solid $color-secondary;
					border-radius: 100%;
					content: '';
					height: 14px;
					left: 0;
					position: absolute;
					top: 4px;
					width: 14px;
				}
				&:after {
					content: '';
					height: 10px;
					background: $color-primary;
					border-radius: 100%;
					left: 2px;
					opacity: 0;
					position: absolute;
					top: 4px;
					transform: scale(0);
					-webkit-transform: scale(0);
					-webkit-transition: all 0.2s ease;
					transition: all 0.2s ease;
					width: 10px;
				}
			}
		}
	}

}

.cont-button-login {
	margin: 10px auto;
	width: 100%;

	.btn-login-page {
		background: $color-secondary;
		border: 0;
		border-radius: 25px;
		color: $color-primary;

	}
}

.text-pasw-remind {
	font-size: 0.8rem;
	font-weight: 300;

	.text-link-login {
		color: $color-secondary;
		text-decoration: underline;
	}
}
/*EndLgin*/

/* Responsive: Portrait tablets and up */
@media screen and (max-width: 414px) {
	.cont-login-page {
		background-position: center 10px;
		background-size: 128%;
		padding-top: 6%;
		.title-bold {
			font-size: 3rem;
		}
		.title-light {
			font-size: 2.6rem;
		}
	}
}

@media screen and (max-width: 768px) {
	.cont-login-page {
		background-position: center -40px;
		background-size: 100%;
		padding-top: 6%;
		.title-bold {
			font-size: 3rem;
		}
		.title-light {
			font-size: 2.6rem;
		}
	}
	.cont-form-login {
		margin-top: 30%;
		width: 60%;
	}
}

@media screen and (max-width: 1920px) {
	.cont-login-page {
		background-position: center -240px;
		background-size: 100%;
		display: flex;
		.title-bold {
			font-size: 3rem;
		}
		.title-light {
			font-size: 2.6rem;
		}
	}
	.cont-title-page,
	.cont-form-login {
		margin-top: 6%;
	}

	.cont-title-page{
		width: 50%;
	}

	.cont-form-login {
		width: 30%;
	}
}
